@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@400;500;700&display=swap");

button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Rubik, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: blue;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ff6939;
}

.main-container {
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .right-section {
    width: 100%;
    max-width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 15px 32px;
    height: 100vh;

  }


  .validationError{
    display: none;
    font-size: 10px;
    margin-top: 10px;
    color:#ce0737 ;
  }