.right-section img:first-child {
  height: 100%;
  width: 100%;
}

.right-section img:nth-child(2) {
  position: absolute;
  width: 269.94px;
  height: 330.74px;
}

.left-container > :nth-child(3) {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.socia-media {
  width: 100%;
}
.socia-media > div {
  padding: 6px 0px;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #edebf0;
}

.divider-text {
  margin: 0 10px;
  color: black;
  padding: 25px 0px;
}

.input-name > div {
  flex-grow: 1;
}
.input-name {
  display: flex;
  /* padding: 20px 0px; */
  justify-content: space-between;
}
.input-name > div:not(:last-child) {
  margin-right: 5%;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.checkbox-wrapper > label {
  display: contents;
}
.checkbox-wrapper > label > a {
  color: #64606a;
  display: contents;
}
.checkbox-wrapper > input {
  margin-bottom: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid #284642;
  border-radius: 7px;
  margin-right: 10px;
}

.register-button > button {
  margin: 25px 0px 25px 0px;
  width: 100%;
  height: 69px;
  background-color: #ff6939;
  border-radius: 8px;
  text-align: center;
  line-height: 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}
/* .divider {
  margin: 5px 0px 20px 0px;
} */
.log-in {
  margin-top: 15px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #64606a;
}
.log-in > a {
  color: #64606a;
}
@media only screen and (max-width: 1000px) {
  .right-section {
    margin-bottom: 40px;
  }
  .input-name {
    display: flex;
    flex-direction: column;
  }
  .input-name > div:not(:last-child) {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 785px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .right-section {
    width: 100%;
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .right-section img:nth-child(2) {
    /* margin: 65px; */
    margin: 50px;
    width: 200px;
    height: 260px;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 15px 32px;
  }
  .input-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .input-name > div:not(:last-child) {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 550px) {
  .right-section {
    height: 38vh;
  }
  .right-section img:nth-child(2) {
    margin: 40px;
    width: 130px;
    height: 180px;
  }
  .input-name {
    display: flex;
    flex-direction: column;
  }
  .input-name > div:not(:last-child) {
    margin-right: 0%;
  }
  .left-container > div:first-child {
    margin: 20px 0px 20px 0px;
  }
}
