.right-section img:first-child {
  height: 100%;
  width: 100%;
}

.right-section img:nth-child(2) {
  position: absolute;
  width: 269.94px;
  height: 330.74px;
}

 .left-container > :nth-child(3) {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
} 
.socia-media {
  width: 100%;
}
.socia-media > div {
  padding: 6px 0px;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #edebf0;
}

.divider-text {
  margin: 0 10px;
  color: black;
  padding: 25px 0px;
}

.input-name > div {
  flex-grow: 1;
}
.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.checkbox-wrapper > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-wrapper > span > input {
  width: 14px;
  margin-bottom: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid #284642;
  border-radius: 7px;
  display: inline-block;
  margin-right: 5px;
}
.checkbox-wrapper > span :nth-child(2){
  display: contents;
  color:#64606A;
  font-weight: 500
}
.checkbox-wrapper > a{
  color:#64606A;
  font-weight: 500
}
.register-button > a >button {
  margin: 25px 0px 25px 0px;
  width: 100%;
  height: 69px;
  background-color: #ff6939;
  border-radius: 8px;
  text-align: center;
  line-height: 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}
.log-in {
  margin-top: 15px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #64606a;
}

.log-in > a {
  border-bottom: 3px solid #284642;
  text-decoration: none;
  color: #64606a;
}

@media only screen and (max-width: 785px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .right-section {
    width: 100%;
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 261px;
  }
  .right-section img:nth-child(2) {
    margin: 50px;
    width: 170px;
    height: 230px;
  }
  .left-section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 45px 32px;
  }
}

@media only screen and (max-width: 550px) {

  .left-container > :nth-child(3) {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  .right-section {
    height: 38vh;
  }
  .right-section img:nth-child(2) {
    margin: 40px;
    width: 120px;
    height: 170px;
  }
}
